{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="note_list_heading text-center mb-5">
            <h1 class="fs-4">Ваши заметки</h1>
        </div>
    </div>
</div>
<div class="row">
    {% for note in notes %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    {{ note.title }}
                    {% if note.user != user %} (Поделился: {{ note.user.username }}) {% endif %}
                </div>
                <div class="card-body">
                    <p>{{ note.text | truncatechars:45 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'notes.detail' pk=note.id %}" class="btn btn-info btn-sm">Посмотреть заметку</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}