asgiref==3.8.1
colorama==0.4.6
deprecation==2.1.0
Django==5.2
django-email-verification==0.3.3
django-otp==1.6.0
packaging==24.2
pillow==11.1.0
PyJWT==2.10.1
pyotp==2.9.0
qrcode==8.1
sqlparse==0.5.3
tzdata==2025.2
validators==0.34.0
